{% extends 'admin/base.html' %}
{% block content %}
{% load static %}


	<div class="col-lg-10">

		<div class="col-lg-12">
			<div class="central-meta">
				<div class="title-block">
					<div class="row">
						<div class="col-lg-6">
							<div class="align-left">
								<h5>Today's Activities <span>30</span></h5>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row merged20">
								<div class="col-lg-7 col-md-7 col-sm-7">
									<form method="post">
										<input type="text" placeholder="Search...">
										<button type="submit"><i class="fa fa-search"></i></button>
									</form>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4">
									<div class="select-options">
										<select class="select" style="display: none;">
											<option>Sort by</option>
											<option>A to Z</option>
											<option>See All</option>
											<option>Newest</option>
											<option>oldest</option>
										</select>
									</div>
								</div>
								<div class="col-lg-1 col-md-1 col-sm-1">
									<div class="option-list">
										<i class="fa fa-ellipsis-v"></i>
										<ul>
											<li><a title="" href="#">Show Friends Public</a></li>
											<li><a title="" href="#">Show Friends Private</a></li>
											<li><a title="" href="#">Mute Notifications</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- title block -->
			<!--total counter -->
			<div class="central-meta padding30">
				<div class="row merged20">

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="friend-block mb-0">
							<figure>
								<img src="{% static 'user/images/reading.png' %}" alt="" style="height: 80px; width: 80px">
							</figure>
							<div class="frnd-meta">
								<div class="frnd-name">
									<h6 href="#" title="">Students</h6>
									<h1>{{ students.count }}</h1>
								</div>
								<a class="send-mesg" href="#" title="">view all</a>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="friend-block mb-0">
							<figure>
								<img src="{% static 'user/images/alumni.png' %}" alt="" style="height: 80px; width: 80px">
							</figure>
							<div class="frnd-meta">
								<div class="frnd-name">
									<h6 href="#" title="">Unions</h6>
									<h1>{{ unions.count }}</h1>
								</div>
								<a class="send-mesg" href="#" title="">view all</a>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="friend-block mb-0">
							<figure>
								<img src="{% static 'user/images/post.png' %}" alt="" style="height: 80px; width: 80px">
							</figure>
							<div class="frnd-meta">
								<div class="frnd-name">
									<h6 href="#" title="">Posts</h6>
									<h1>{{ posts.count }}</h1>
								</div>
								<a class="send-mesg" href="#" title="">view all</a>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="friend-block mb-0">
							<figure>
								<img src="{% static 'user/images/post.png' %}" alt="" style="height: 80px; width: 80px">
							</figure>
							<div class="frnd-meta">
								<div class="frnd-name">
									<h6 href="#" title="">Comments</h6>
									<h1>{{ comments.count }}</h1>
								</div>
								<a class="send-mesg" href="#" title="">view all</a>
							</div>
						</div>
					</div>

				</div>
			</div><!--total counter -->
			<!-- graph -->
			<div class="central-meta">
				<h5 class="f-title"><i class="fa fa-line-chart"></i>Statistics <span class="more-options"><i class="fa fa-ellipsis-h"></i></span></h5>
				<div class="insight-box">
					<div class="x_panel">
						<div class="x_title">
							<h2>Line Graph</h2>
							<div id="echart_line"></div>
						</div>

					</div>

				</div>
			</div><!-- centerl meta -->



			<div class="central-meta">
				<div class="row merged20">


					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="friend-block mb-0">


						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="friend-block mb-0">


						</div>
					</div>

				</div>
			</div><!--graph -->
		</div>




		top row
		<div class="row">
			<!-- <div class="col-lg-6 col-md-6 col-sm-6">
				<div class="pst-change-style">
					<span>view</span>
					<ul class="view-pst-style">
						<li class="active"><a href="#" title=""><i class="fa fa-th-list"></i></a></li>
						<li><a href="#" title=""><i class="fa fa-th"></i></a></li>
					</ul>
					<select>
						<option>Category</option>
					</select>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="sub-cat">
					<select>
						<option>Sub Category</option>
					</select>
				</div>
			</div>	 -->
		</div>

		<div class="load-more">

			slide vertical row
			<div class="central-meta">
				<!-- <span class="create-post">Today's Tranding <a title="" href="#">View All</a></span>
				<ul class="pitred-trendings">
					<li>
						<figure><img src="images/resources/trending1.jpg" alt=""></figure>
						<div class="pit-uzr">
							<a href="#" title="">A jocker can not spend his life luxury.</a>
							<div class="usr-fig">
								<img src="images/resources/comet-1.jpg" alt="">
								<a href="#" title="">p/dewwater</a>
							</div>
						</div>
					</li>
					<li>
						<figure><img src="images/resources/trending2.jpg" alt=""></figure>
						<div class="pit-uzr">
							<a href="#" title="">US Popular band working on new song.</a>
							<div class="usr-fig">
								<img src="images/resources/comet-2.jpg" alt="">
								<a href="#" title="">p/Alisa</a>
							</div>
						</div>
					</li>
					<li>
						<figure><img src="images/resources/trending3.jpg" alt=""></figure>
						<div class="pit-uzr">
							<a href="#" title="">American girls have issues after marriage.</a>
							<div class="usr-fig">
								<img src="images/resources/comet-3.jpg" alt="">
								<a href="#" title="">p/Xang Zong</a>
							</div>
						</div>
					</li>
					<li>
						<figure><img src="images/resources/trending4.jpg" alt=""></figure>
						<div class="pit-uzr">
							<a href="#" title="">Colorful God Creations in the universe.</a>
							<div class="usr-fig">
								<img src="images/resources/comet-4.jpg" alt="">
								<a href="#" title="">p/B.Frank</a>
							</div>
						</div>
					</li>
					<li>
						<figure><img src="images/resources/trending5.jpg" alt=""></figure>
						<div class="pit-uzr">
							<a href="#" title="">Boats always beautiful looking in the sea.</a>
							<div class="usr-fig">
								<img src="images/resources/comet-2.jpg" alt="">
								<a href="#" title="">p/Santa Banta</a>
							</div>
						</div>
					</li>
					<li>
						<figure><img src="images/resources/trending6.jpg" alt=""></figure>
						<div class="pit-uzr">
							<a href="#" title="">Volunteers working in africa from US.</a>
							<div class="usr-fig">
								<img src="images/resources/comet-1.jpg" alt="">
								<a href="#" title="">p/Andrew</a>
							</div>
						</div>
					</li>
				</ul> -->
			</div><!-- trending post carousel -->



			some detailed card
			<div class="central-meta item">
				<!-- <div class="pit-post">
					<figure>
						<img src="images/resources/red-post1.jpg" alt="">
						<span><i class="fa fa-bolt"></i></span>
						<i class="fa fa-video"></i>
					</figure>
					<div class="pit-post-deta">
						<h4><a href="social-post-detail.html" title="">Fallon Sherrock just became the first woman to beat..</a></h4>
						<ul class="post-up-time">
							<li>
								<div class="usr-fig">
									<img src="images/resources/side-friend4.jpg" alt="">
									<a href="#" title="">p/Sarah</a>
								</div>
							</li>
							<li><i class="fa fa-clock-o"></i> Oct 23, 2020</li>
							<li>link <a href="#" title="">https://www.abc.com</a></li>
						</ul>
						<ul class="pit-opt">
							<li class="comentz" title="Comments"><i class="fa fa-comment"></i><em>2.2k</em></li>
							<li class="share-pst" title="Shares"><i class="fa fa-share-alt"></i><em>125</em></li>
							<li class="save-post" title="Save Post"><i class="fa fa-save"></i></li>
							<li class="bad-report" title="Report"><i class="fa fa-flag"></i></li>
							<li class="bane" title="Stop Post"><i class="fa fa-ban"></i></li>
							<li class="get-link" title="Get Post Link"><i class="fa fa-link"></i></li>
							<li class="copy-embd" title="Copy Embed"><i class="fa fa-code"></i></li>
							<li class="smile-it" title="Give Smiles"><i class="fa fa-smile-o"></i><em>Smile it</em>
								<div class="smiles-bunch">
									<i class="em em---1"></i>
									<i class="em em-smiley"></i>
									<i class="em em-anguished"></i>
									<i class="em em-laughing"></i>
									<i class="em em-angry"></i>
									<i class="em em-astonished"></i>
									<i class="em em-blush"></i>
									<i class="em em-disappointed"></i>
									<i class="em em-worried"></i>
									<i class="em em-kissing_heart"></i>
									<i class="em em-rage"></i>
									<i class="em em-stuck_out_tongue"></i>
								</div>
							</li>
						</ul>
					</div>
					<div class="right-pst-meta">
						<a href="#" title="">Popular</a>
						<div class="users-thumb-list">
							<a href="#" title="" data-toggle="tooltip" data-original-title="Anderw">
								<img src="images/resources/userlist-1.jpg" alt="">
							</a>
							<a href="#" title="" data-toggle="tooltip" data-original-title="frank">
								<img src="images/resources/userlist-2.jpg" alt="">
							</a>
							<a href="#" title="" data-toggle="tooltip" data-original-title="Sara">
								<img src="images/resources/userlist-3.jpg" alt="">
							</a>
							<a href="#" title="" data-toggle="tooltip" data-original-title="Amy">
								<img src="images/resources/userlist-4.jpg" alt="">
							</a>
							<a href="#" title="" data-toggle="tooltip" data-original-title="Ema">
								<img src="images/resources/userlist-5.jpg" alt="">
							</a>
							<span><a title="" href="#">24+ more</a> liked</span>
						</div>
					</div>
					<div class="number">
						<span class="plus"><i class="fa fa-angle-up"></i></span>
						<input type="text" value="0"/>
						<span class="minus"><i class="fa fa-angle-down"></i></span>

					</div> -->
				</div>
			</div>
		</div>
	</div>

{% endblock %}
