{% load static %}
<div class="user-profile">
    <figure>
        {% if user.is_staff %}
        <div class="edit-pp">
            <label class="fileContainer">
                <i class="fa fa-camera"></i>
                <input type="file">
            </label>
        </div>
        {% endif %}
        <img src="{% static 'user/images/resources/fav-banner.jpg' %}" alt="">

    </figure>

    <div class="profile-section">
        <div class="row">
            <div class="col-lg-2">
                <div class="profile-author">
                    <a class="profile-author-thumb" href="about.html">
                        <img alt="author" src="{% static 'user/images/resources/fav-dp.jpg' %}">
                        {% if user.is_superuser %}
                        <div class="edit-dp">
                            <label class="fileContainer">
                                <i class="fa fa-camera"></i>
                                <input type="file">
                            </label>
                        </div>
                        {% endif %}
                    </a>
                    <div class="author-content">
                        <a class="h4 author-name" href="#">{{ union.first_name|upper }}</a>
                        <div class="country">{{ union.union.college_short_name }}, {{ union.union.location }}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                <ul class="profile-menu">
                     <li>
                        <a class="" href="">Page Details</a>
                    </li>
                    <li>
<!--                        <a class="" href="fav-events.html">Events</a>-->
                    </li>
<!--                    <li>-->
<!--                        <a class="" href="event-calendar.html">Calender</a>-->
<!--                    </li>-->
                </ul>
                <ol class="folw-detail">
                    <li><span>Posts</span><ins>{{ union.post_set.count }}</ins></li>
                    <li><span>Members</span><ins>{{ members.count }}</ins></li>
                </ol>
            </div>
        </div>
    </div>
</div>