{% load static %}
<div class="user-profile">
    <figure>
        {% if user.is_staff %}
        <div class="edit-pp">
            <label class="fileContainer">
                <i class="fa fa-camera"></i>
                <input type="file">
            </label>
        </div>
        {% endif %}
        <img src="{% static 'user/images/resources/fav-banner.jpg' %}" alt="">
        <ul class="profile-controls">
            <li><a href="#" title="" data-toggle="tooltip" data-original-title="Like"><i class="fa fa-thumbs-up"></i></a></li>
            <li><a href="#" title="" data-toggle="tooltip" data-original-title="Follow"><i class="fa fa-star"></i></a></li>
            <li><a class="send-mesg" href="#" title="" data-toggle="tooltip" data-original-title="Send Message"><i class="fa fa-comment"></i></a></li>
            <li>
                <div class="edit-seting" title="" data-toggle="tooltip" data-original-title="Edit Profile image"><i class="fa fa-sliders"></i>
                    <ul class="more-dropdown">
                        <li>
                            <a href="#" title="">Share this Page</a>
                        </li>
                        <li>
                            <a href="#" title="">Update Profile Photo</a>
                        </li>
                        <li>
                            <a href="#">Update Header Photo</a>
                        </li>
                        <li>
                            <a href="setting.html" title="" data-toggle="tooltip" data-original-title="">Account Settings</a>
                        </li>
                        <li>
                            <a href="timeline-friends.html" title="">Invite Friends</a>
                        </li>
                        <li>
                            <a href="support-and-help.html" title="">Find support</a>
                        </li>
                        <li>
                            <a href="setting.html" title="">Block Page</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ol class="pit-rate">
            <li class="rated"><i class="fa fa-star"></i></li>
            <li class="rated"><i class="fa fa-star"></i></li>
            <li class="rated"><i class="fa fa-star"></i></li>
            <li class="rated"><i class="fa fa-star"></i></li>
            <li class=""><i class="fa fa-star"></i></li>
            <li><span>4.7/5</span></li>
        </ol>
    </figure>

    <div class="profile-section">
        <div class="row">
            <div class="col-lg-2">
                <div class="profile-author">
                    <a class="profile-author-thumb" href="about.html">
                        <img alt="author" src="{% static 'user/images/resources/fav-dp.jpg' %}">
                        {% if user.is_superuser %}
                        <div class="edit-dp">
                            <label class="fileContainer">
                                <i class="fa fa-camera"></i>
                                <input type="file">
                            </label>
                        </div>
                        {% endif %}
                    </a>
                    <div class="author-content">
                        <a class="h4 author-name" href="#">{{ union.first_name|upper }}</a>
                        <div class="country">{{ union.union.college_short_name }}, {{ union.union.location }}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                <ul class="profile-menu">
                     <li>
                        <a class="" href="">Page Details</a>
                    </li>
                    <li>
<!--                        <a class="" href="fav-events.html">Events</a>-->
                    </li>
<!--                    <li>-->
<!--                        <a class="" href="event-calendar.html">Calender</a>-->
<!--                    </li>-->
                </ul>
                <ol class="folw-detail">
                    <li><span>Posts</span><ins>{{ union.post_set.count }}</ins></li>
                    <li><span>Members</span><ins>{{ members.count }}</ins></li>
                </ol>
            </div>
        </div>
    </div>
</div>